<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT"
    package="com.brightgestures.brightify.test">

    <!-- TODO: Decide which minSdkVersion to use -->
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <instrumentation
        android:targetPackage="com.brightgestures.brightify.test"
        android:name="android.test.InstrumentationTestRunner" />

    <application
        android:label="@string/app_name">



        <uses-library android:name="android.test.runner" />

        <activity android:name=".MainTestActivity"/>

        <meta-data android:name="@string/brightify__DATABASE_NAME" android:value="test" />
        <meta-data android:name="@string/brightify__ENABLE_QUERY_LOGGING" android:value="true" />
    </application>
</manifest>